<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 输出到控制台 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%c] [%L] %p [%m]%n" />
        </layout>
    </appender>

    <!-- 输出到日志文件 每天一个日志 -->
    <appender name="LOGDEBUG" class="org.apache.log4j.DailyRollingFileAppender">
        <!-- Threshold屏蔽级别之下的日志输出 -->
        <param name="Threshold" value="DEBUG" />
        <param name="encoding" value="UTF-8" />
        <param name="File" value="/neworiental/web/log/demo-debug.log" />
        <param name="DatePattern" value="'_'yyyy-MM-dd''" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%c] [%L] %p [%m]%n" />
        </layout>
    </appender>

    <appender name="LOGINFO" class="org.apache.log4j.DailyRollingFileAppender">
        <!-- <param name="Threshold" value="INFO" /> -->
        <param name="encoding" value="UTF-8" />
        <param name="File" value="/neworiental/web/log/demo-info.log" />
        <param name="DatePattern" value="'_'yyyy-MM-dd''" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%c] [%L] %p [%m]%n" />
        </layout>
        <!--限制输出级别 -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>

    <appender name="LOGERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <!-- <param name="Threshold" value="ERROR" /> -->
        <param name="encoding" value="UTF-8" />
        <param name="File" value="/neworiental/web/log/demo-error.log" />
        <param name="DatePattern" value="'_'yyyy-MM-dd''" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%c] [%L] %p [%m]%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <!-- 设置某些包下的日志输出 -->
    <!-- <logger name="com.linkinPark" additivity="false"> <level value="OFF"/> </logger> -->
    <!-- <logger name="com.linlinPark.service"> <level value="ON"/> </logger> -->

    <!-- 日志的总开关设置 包括日志级别和 appender -->
    <!-- logger的作用： 1.[name属性]:指定你定义Logger对象时候的name -->
    <!-- 2. additivity : children-logger是否使用 rootLogger的配置, additivity在log4j默认为true。 -->
    <!-- 这解释了为什么有些时候，一个日志信息在屏幕上会有多次输出。 -->
    <!-- 3.还可以指定level(输出级别)、appender-ref(指定哪个append) -->
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGDEBUG" />
        <appender-ref ref="LOGINFO" />
        <appender-ref ref="LOGERROR" />
    </root>

</log4j:configuration>
